<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">



	<!-- bean definitions here  street or city String he toh yaaha autowring nhi hoga -->
	<bean  class="com.springcore.autowireing.Address"  name="address">
		<property name="street" value="Temp Street"/>
				<property name="city" value="dehli"/>
		</bean>
		<!-- yaha kr skte he becose addresh object type ka he -->
			<bean  class="com.springcore.autowireing.Emp"  name="emp" autowire="byName"/>
	<!-- byType bean check krege unper hum adressh1 bhi de skte h or do obecect hoga toh cunsufusue ohga or exception dega
	     byName me refrence check krega
	     bytype me bean check hogi
	     
	     byconstructor bhi hota h
	     byname me setter ko call krege name ke base  pe
	     byconstructor ne constuctor ko call krega
	     bytype me type ko ceck krega -->
				
		
		

	
</beans>




  
  
 

  

  


  


